<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.swagger.mapper.BoardMapper">

    <select id="boardList" resultType="Map" parameterType="com.api.swagger.vo.Pagination">
        SELECT
            B.BOARD_SEQ AS boardSeq
             ,B.TITLE AS title
             ,IFNULL((CASE
                          WHEN INSTR(DATE_FORMAT(B.LAST_UPDATE, '%Y-%m-%d %p %h:%i'), 'PM') > 0
                              THEN REPLACE(DATE_FORMAT(B.LAST_UPDATE, '%Y-%m-%d %p %h:%i'), 'PM', '오후')
                          ELSE REPLACE(DATE_FORMAT(B.LAST_UPDATE, '%Y-%m-%d %p %h:%i'), 'AM', '오전')
            END),
                     (CASE
                          WHEN INSTR(DATE_FORMAT(B.FIRST_UPDATE, '%Y-%m-%d %p %h:%i'), 'PM') > 0
                              THEN REPLACE(DATE_FORMAT(B.FIRST_UPDATE, '%Y-%m-%d %p %h:%i'), 'PM', '오후')
                          ELSE REPLACE(DATE_FORMAT(B.FIRST_UPDATE, '%Y-%m-%d %p %h:%i'), 'AM', '오전')
                         END)) as uploadDate
             ,U.USER_ID AS userId
        FROM BOARD B
        LEFT JOIN USER U
        ON B.USER_SEQ = U.USER_SEQ
        <if test='"0".equals(sk)'>
            WHERE B.TITLE LIKE CONCAT('%',#{sv},'%')
            OR B.CONTENT LIKE CONCAT('%',#{sv},'%')
        </if>
        <if test='"1".equals(sk)'>
            WHERE U.USER_ID LIKE CONCAT('%',#{sv},'%')
        </if>
        <if test='"2".equals(sk)'>
            WHERE B.TITLE LIKE CONCAT('%',#{sv},'%')
        </if>
        <if test='"3".equals(sk)'>
            WHERE B.CONTENT LIKE CONCAT('%',#{sv},'%')
        </if>
        ORDER BY FIRST_UPDATE DESC
        LIMIT #{sqlPageNum}, #{pageSize}
    </select>

    <select id="boardTotalCount" resultType="Integer" parameterType="com.api.swagger.vo.Pagination">
        SELECT
            COUNT(*)
        FROM BOARD B
        LEFT JOIN USER U
        ON B.USER_SEQ = U.USER_SEQ
        <if test='"0".equals(sk)'>
            WHERE B.TITLE LIKE CONCAT('%',#{sv},'%')
            OR B.CONTENT LIKE CONCAT('%',#{sv},'%')
        </if>
        <if test='"1".equals(sk)'>
            WHERE U.USER_ID LIKE CONCAT('%',#{sv},'%')
        </if>
        <if test='"2".equals(sk)'>
            WHERE B.TITLE LIKE CONCAT('%',#{sv},'%')
        </if>
        <if test='"3".equals(sk)'>
            WHERE B.CONTENT LIKE CONCAT('%',#{sv},'%')
        </if>
        ORDER BY FIRST_UPDATE DESC
    </select>

    <select id="boardDetail" parameterType="com.api.swagger.vo.BoardVO" resultType="map">
        select
            B.BOARD_SEQ
             ,B.USER_SEQ
             ,U.USER_NAME
             ,B.TITLE
             ,B.CONTENT
             ,IFNULL((CASE
                          WHEN INSTR(DATE_FORMAT(B.LAST_UPDATE, '%Y-%m-%d %p %h:%i'), 'PM') > 0
                              THEN REPLACE(DATE_FORMAT(B.LAST_UPDATE, '%Y-%m-%d %p %h:%i'), 'PM', '오후')
                          ELSE REPLACE(DATE_FORMAT(B.LAST_UPDATE, '%Y-%m-%d %p %h:%i'), 'AM', '오전')
            END),
                     (CASE
                          WHEN INSTR(DATE_FORMAT(B.FIRST_UPDATE, '%Y-%m-%d %p %h:%i'), 'PM') > 0
                              THEN REPLACE(DATE_FORMAT(B.FIRST_UPDATE, '%Y-%m-%d %p %h:%i'), 'PM', '오후')
                          ELSE REPLACE(DATE_FORMAT(B.FIRST_UPDATE, '%Y-%m-%d %p %h:%i'), 'AM', '오전')
                         END)) as UPLOAD_DATE
             ,B.IP
             ,B.FILE_NAME
             ,B.FILE_PATH
        from
            BOARD B
                left join USER U
                          on U.USER_SEQ = B.USER_SEQ
        where BOARD_SEQ = #{seq}
    </select>

    <insert id="boardInsert" parameterType="com.api.swagger.vo.BoardVO" keyProperty="seq">
        INSERT INTO BOARD (
            `USER_SEQ`
            ,`TITLE`
            ,`CONTENT`
            ,`FIRST_UPDATE`
            ,`IP`
        ) VALUES (
            #{userSeq}
            ,#{title}
            ,#{contents}
            ,now()
            ,#{ip}
        )
    </insert>

    <!--게시글 수정-->
    <update id="boardUpdate" parameterType="com.api.swagger.vo.BoardVO">
        UPDATE BOARD SET
            USER_SEQ = #{userSeq}
            ,TITLE = #{title}
            ,CONTENT = #{contents}
            ,LAST_UPDATE = now()
            ,IP = #{ip}
        WHERE BOARD_SEQ = #{boardSeq}
    </update>

    <!--게시글 삭제-->
    <delete id="boardDelete" parameterType="Integer">
        DELETE FROM BOARD
        WHERE BOARD_SEQ = #{seq}
    </delete>

</mapper>